.width45 {
    width: 80px;

}

.nodeColor {
    background-color: #FDC858;
}

.lineColor {
    color: #EFEFEF;
}

.tippy-box[data-theme~='custom'] {
    background-color: transparent;
}

.tippy-box[data-theme~='custom'] .tippy-content {
    padding: 0px;
}

.radius20 {
    border-radius: 20px;
}